.listLeft {
    color: black;
    text-align: left;
    width: auto;
    padding: 10px, 10px;
    float: left;
    margin-left: 100px;
    opacity: 1 !important;
    font-size: 2em;
    font-weight: bold;
}

.listRight {
    color: black;
    text-align: left;
    width: auto;
    padding: 10px, 10px;
    float: right;
    margin-right: 100px;
    opacity: 1 !important;
    font-size: 2em;
    font-weight: bold;
}
