.listLeft {
    color: black;
    text-align: left;
    width: auto;
    padding: 10px, 10px;
    float: left;
    margin-left: 100px;
    opacity: 1 !important;
    font-size: 2em;
    font-weight: bold;
}

.listRight {
    color: black;
    text-align: left;
    width: auto;
    padding: 10px, 10px;
    float: right;
    margin-right: 100px;
    opacity: 1 !important;
    font-size: 2em;
    font-weight: bold;
}

.contentOne {
    color: black;
    text-align: center;
    width: 25%;
    margin-left: 50px;
    float: left;
    background-color: white;
    opacity: 0.75;
    overflow: hidden;
}

.contentTwo {
    color: black;
    text-align: center;
    width: 25%;
    float: right;
    margin-right: 50px;
    background-color: white;
    opacity: 0.75;
}
